@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #eaeaea;
}

.init {

   width: 100%;
   height: 100%;
   margin-top: -250px;
}

.content {
    font-size: 70px; 
    text-align: left;
  }

.titleDesc {
    width: 600px;
    height: 1000px;
    margin-left: 1350px;
    margin-top: -850px;
    padding: 20px;
    color: #fff;
}
/*********************Search Page User************/

.search {
  width: 500px;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #aa1256;
  padding: 15px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #aa1256;
}

.searchButton {
  position: absolute;  
  margin-left: 460px;
  margin-top: 5px;
  width: 40px;
  height: 36px;
  border: 1px solid #aa1256;
  background: #aa1256;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  margin-top: -105px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  transition: all .3s ease-in-out;
}

.item:hover .overlay{
  height: 100%;
  transform: scale(1.02);
  opacity: 0.7;
}

.item:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.descProd {
  text-align: justify;
  top: 10px;
}
.root {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

.gridList {
  position: relative;
  float: left;
  width: 900px;
  min-height: 400px;
  min-width: 100px;
  overflow: hidden;
  height: 100% !important;
  }
/******************* introPage *******************/
.imp {
  color: #7aeac2;
  border-bottom: 4px solid white;
}


.qlinedesc {
  margin-top: 20px;
  width: 400px;
  margin-left: 0px;
  font-size: 20px;
}

/*******************- FlipInfo Page -*******************/
.allflip{
  width: 100%;
  margin-top: -207px;
}
.scene {
  width: 25%;
  float: left;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
  background: #aa1256;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
 
}

.card:hover {
  transform: rotateY(180deg);
}

.card__face {
  margin-top: 80px;
  margin-left: 50px;
  position: absolute;
  width: 80%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  backface-visibility: hidden;
}


.card__face--back {
  transform: rotateY(180deg);
}

/*******************-About Q Line-****************/

.mainDp {
  width: 100%;
  height: 1300px;
  
}

.videoComp {
  margin: 150px;
  width: 50%;
  float: left;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
}

.about {
  font-size: 20px;
  width: 500px;
}

.title {
  margin-bottom: 30px;
  border-bottom: 4px solid #aa1256;
  padding: 50px 0;
}
/*******************-How It Works Page-****************/

.How {
  font-size: 58px;
  text-align: left;
  color: #000;
}

.steps {
  margin-top: 40px;
  text-align: left;
  color: #000;
}

.step{
  text-align: left;
  color: #000;
}

.page1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
  -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
  color: #fff;
  overflow: hidden; 
}

* {
  font-family: 'open sans', 'lato', 'helvetica', sans-serif;
}

.page1 {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2, #p3, #p4, #p5 {
  left: 200%;
}

#p1 { background: #eaeaea; }
#p2 { background: #eaeaea; }
#p3 { background: #eaeaea; }
#p4 { background: #eaeaea; }
#p5 { background: #eaeaea; }

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transition-delay: .4s !important;
}

#t2:target #p1, 
#t3:target #p1,
#t4:target #p1,
#t5:target #p1{
  background: #eaeaea;
}



.icon1 {
  color: #fff;
  font-size: 32px;
  display: block;
}

.icon1:hover {
  opacity: 0.5;
}

.page1 .icon1 .title1 {
  line-height: 2;
}

#t2:target  .icon1,
#t3:target  .icon1,
#t4:target  .icon1,
#t5:target  .icon1{
  transform: scale(.6);
  -webkit-transform: scale(.6);
  -moz-transform: scale(.6);
  -o-transform: scale(.6);
  transition-delay: .25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

/* #menu3 {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 580px;
  width: 93%;
  padding: 0;
  text-align: center;
 } */
#menu3 {
  margin-left: 850px;
  z-index: 1;
  position: absolute;
  margin-top: 800px;
}
#menu3 .icon1 {
  margin: 30px 0;
  transition: all .5s ease-out !important;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
}


.title1, .hint {
  display: block;
}

.title1 {
  font-size: 38px;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint #t3 {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}



.line-trough {
  text-decoration: line-through;
}

.page1 .icon1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
  -o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page1#p1 .icon1 {
  height: 220px;
}

.page1#p1 .icon1 {
  transform: translateX(10%) !important;
}

#t2:target .page1#p2 .icon1,
#t3:target .page1#p3 .icon1,
#t4:target .page1#p4 .icon1,
#t5:target .page1#p5 .icon1{
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}


/*******************-Scroll-**********************/
section {
  height: 100vh;
  width: 100%;
  display: table;
  
}
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
/*******************- keyFeatures -*******************/

.key{
  margin-top: 1000px;
}

.feature{
  float: left;
  margin-left: 250px;
  text-align: center;
}

/*******************- Loading -*******************/

.layer-1 > .path {
  stroke: rgba(234, 234, 234, 0.5);
  stroke-width: 15;
  stroke-dasharray: 1507.2;
  stroke-dashoffset: 1507.2;
  visibility: hidden;
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.loaded .layer-1 > .path {
  visibility: visible;
  -moz-animation: layer-1 1.25s ease-in;
  -webkit-animation: layer-1 1.25s ease-in;
  animation: layer-1 1.25s ease-in;
}

@-moz-keyframes layer-1 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 15;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #aa1256;
    stroke-width: 45;
    stroke-width: 225;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@-webkit-keyframes layer-1 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 15;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 45;
    stroke-width: 225;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
@keyframes layer-1 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 15;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 45;
    stroke-width: 225;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}
.layer-2 > .path {
  stroke: rgba(234, 234, 234, 0.3);
  stroke-width: 20;
  stroke-dasharray: 1507.2;
  stroke-dashoffset: 1507.2;
  visibility: hidden;
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.loaded .layer-2 > .path {
  visibility: visible;
  -moz-animation: layer-2 1.25s ease-in;
  -webkit-animation: layer-2 1.25s ease-in;
  animation: layer-2 1.25s ease-in;
}

@-moz-keyframes layer-2 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(420deg);
    transform: rotate(420deg);
  }
}
@-webkit-keyframes layer-2 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(420deg);
    transform: rotate(420deg);
  }
}
@keyframes layer-2 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(420deg);
    -ms-transform: rotate(420deg);
    -webkit-transform: rotate(420deg);
    transform: rotate(420deg);
  }
}
.layer-3 > .path {
  stroke: rgba(234, 234, 234, 0.8);
  stroke-width: 40;
  stroke-dasharray: 1130.4;
  stroke-dashoffset: 1130.4;
  visibility: hidden;
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.loaded .layer-3 > .path {
  visibility: visible;
  -moz-animation: layer-3 1.25s ease-in;
  -webkit-animation: layer-3 1.25s ease-in;
  animation: layer-3 1.25s ease-in;
}

@-moz-keyframes layer-3 {
  0% {
    stroke-dasharray: 1130.4;
    stroke-dashoffset: 1130.4;
  }
  75% {
    stroke-width: 40;
    stroke-dashoffset: 565.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 120;
    stroke-dasharray: 1136.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@-webkit-keyframes layer-3 {
  0% {
    stroke-dasharray: 1130.4;
    stroke-dashoffset: 1130.4;
  }
  75% {
    stroke-width: 40;
    stroke-dashoffset: 565.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 120;
    stroke-dasharray: 1136.68;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@keyframes layer-3 {
  0% {
    stroke-dasharray: 1130.4;
    stroke-dashoffset: 1130.4;
  }
  75% {
    stroke-width: 40;
    stroke-dashoffset: 565.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 120;
    stroke-dasharray: 1136.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    -ms-transform: rotate(410deg);
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
.layer-4 > .path {
  stroke: rgba(234, 234, 234, 0.6);
  stroke-width: 20;
  stroke-dasharray: 1507.2;
  stroke-dashoffset: 1507.2;
  visibility: hidden;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.loaded .layer-4 > .path {
  visibility: visible;
  -moz-animation: layer-4 1.25s ease-in;
  -webkit-animation: layer-4 1.25s ease-in;
  animation: layer-4 1.25s ease-in;
}

@-moz-keyframes layer-4 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
@-webkit-keyframes layer-4 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
@keyframes layer-4 {
  0% {
    stroke-dasharray: 1507.2;
    stroke-dashoffset: 1507.2;
  }
  75% {
    stroke-width: 20;
    stroke-dashoffset: 753.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 60;
    stroke-dasharray: 1513.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(390deg);
    -ms-transform: rotate(390deg);
    -webkit-transform: rotate(390deg);
    transform: rotate(390deg);
  }
}
.layer-5 > .path {
  stroke: rgba(234, 234, 234, 0.5);
  stroke-width: 30;
  stroke-dasharray: 1884;
  stroke-dashoffset: 1884;
  visibility: hidden;
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.loaded .layer-5 > .path {
  visibility: visible;
  -moz-animation: layer-5 1.25s ease-in;
  -webkit-animation: layer-5 1.25s ease-in;
  animation: layer-5 1.25s ease-in;
}

@-moz-keyframes layer-5 {
  0% {
    stroke-dasharray: 1884;
    stroke-dashoffset: 1884;
  }
  75% {
    stroke-width: 30;
    stroke-dashoffset: 942;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 90;
    stroke-dasharray: 1890.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(460deg);
    transform: rotate(460deg);
  }
}
@-webkit-keyframes layer-5 {
  0% {
    stroke-dasharray: 1884;
    stroke-dashoffset: 1884;
  }
  75% {
    stroke-width: 30;
    stroke-dashoffset: 942;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 90;
    stroke-dasharray: 1890.28;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(460deg);
    transform: rotate(460deg);
  }
}
@keyframes layer-5 {
  0% {
    stroke-dasharray: 1884;
    stroke-dashoffset: 1884;
  }
  75% {
    stroke-width: 30;
    stroke-dashoffset: 942;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 90;
    stroke-dasharray: 1890.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(460deg);
    -ms-transform: rotate(460deg);
    -webkit-transform: rotate(460deg);
    transform: rotate(460deg);
  }
}
.layer-6 > .path {
  stroke: rgba(234, 234, 234, 0.2);
  stroke-width: 45;
  stroke-dasharray: 2386.4;
  stroke-dashoffset: 2386.4;
  visibility: hidden;
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  -webkit-transform: rotate(-80deg);
  transform: rotate(-80deg);
}
.loaded .layer-6 > .path {
  visibility: visible;
  -moz-animation: layer-6 1.25s ease-in;
  -webkit-animation: layer-6 1.25s ease-in;
  animation: layer-6 1.25s ease-in;
}

@-moz-keyframes layer-6 {
  0% {
    stroke-dasharray: 2386.4;
    stroke-dashoffset: 2386.4;
  }
  75% {
    stroke-width: 45;
    stroke-dashoffset: 1193.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 135;
    stroke-dasharray: 2392.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(400deg);
    transform: rotate(400deg);
  }
}
@-webkit-keyframes layer-6 {
  0% {
    stroke-dasharray: 2386.4;
    stroke-dashoffset: 2386.4;
  }
  75% {
    stroke-width: 45;
    stroke-dashoffset: 1193.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 135;
    stroke-dasharray: 2392.68;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(400deg);
    transform: rotate(400deg);
  }
}
@keyframes layer-6 {
  0% {
    stroke-dasharray: 2386.4;
    stroke-dashoffset: 2386.4;
  }
  75% {
    stroke-width: 45;
    stroke-dashoffset: 1193.2;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 135;
    stroke-dasharray: 2392.68;
    stroke-dashoffset: 0;
    -moz-transform: rotate(400deg);
    -ms-transform: rotate(400deg);
    -webkit-transform: rotate(400deg);
    transform: rotate(400deg);
  }
}
.layer-7 > .path {
  stroke: #eaeaea;
  stroke-width: 75;
  stroke-dasharray: 2826;
  stroke-dashoffset: 2826;
  visibility: hidden;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.loaded .layer-7 > .path {
  visibility: visible;
  -moz-animation: layer-7 1.25s ease-in;
  -webkit-animation: layer-7 1.25s ease-in;
  animation: layer-7 1.25s ease-in;
}

@-moz-keyframes layer-7 {
  0% {
    stroke-dasharray: 2826;
    stroke-dashoffset: 2826;
  }
  75% {
    stroke-width: 75;
    stroke-dashoffset: 1413;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 225;
    stroke-dasharray: 2832.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(470deg);
    transform: rotate(470deg);
  }
}
@-webkit-keyframes layer-7 {
  0% {
    stroke-dasharray: 2826;
    stroke-dashoffset: 2826;
  }
  75% {
    stroke-width: 75;
    stroke-dashoffset: 1413;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 225;
    stroke-dasharray: 2832.28;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(470deg);
    transform: rotate(470deg);
  }
}
@keyframes layer-7 {
  0% {
    stroke-dasharray: 2826;
    stroke-dashoffset: 2826;
  }
  75% {
    stroke-width: 75;
    stroke-dashoffset: 1413;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 225;
    stroke-dasharray: 2832.28;
    stroke-dashoffset: 0;
    -moz-transform: rotate(470deg);
    -ms-transform: rotate(470deg);
    -webkit-transform: rotate(470deg);
    transform: rotate(470deg);
  }
}
.layer-8 > .path {
  stroke: rgba(234, 234, 234, 0.5);
  stroke-width: 250;
  stroke-dasharray: 3391.2;
  stroke-dashoffset: 3391.2;
  visibility: hidden;
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -webkit-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
.loaded .layer-8 > .path {
  visibility: visible;
  -moz-animation: layer-8 1.25s ease-in;
  -webkit-animation: layer-8 1.25s ease-in;
  animation: layer-8 1.25s ease-in;
}

@-moz-keyframes layer-8 {
  0% {
    stroke-dasharray: 3391.2;
    stroke-dashoffset: 3391.2;
  }
  75% {
    stroke-width: 250;
    stroke-dashoffset: 1695.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 750;
    stroke-dasharray: 3397.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@-webkit-keyframes layer-8 {
  0% {
    stroke-dasharray: 3391.2;
    stroke-dashoffset: 3391.2;
  }
  75% {
    stroke-width: 250;
    stroke-dashoffset: 1695.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 750;
    stroke-dasharray: 3397.48;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
@keyframes layer-8 {
  0% {
    stroke-dasharray: 3391.2;
    stroke-dashoffset: 3391.2;
  }
  75% {
    stroke-width: 250;
    stroke-dashoffset: 1695.6;
  }
  100% {
    stroke: #eaeaea;
    stroke-width: 750;
    stroke-dasharray: 3397.48;
    stroke-dashoffset: 0;
    -moz-transform: rotate(410deg);
    -ms-transform: rotate(410deg);
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
  }
}
.loader {
  position: absolute;
  width: 120px;
  height: 120px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 9999;
}
.loaded .loader {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -moz-transition: all 2.25s ease-in-out 1.25s;
  -o-transition: all 2.25s ease-in-out 1.25s;
  -webkit-transition: all 2.25s ease-in-out;
  -webkit-transition-delay: 1.25s;
  transition: all 2.25s ease-in-out 1.25s;
}
.loader g, .loader circle {
  transform-origin: 50% 50%;
}

.core > .path {
  fill: #aa1256;
  visibility: hidden;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transition: all 0.625s ease-in-out 0.15625s;
  -o-transition: all 0.625s ease-in-out 0.15625s;
  -webkit-transition: all 0.625s ease-in-out;
  -webkit-transition-delay: 0.15625s;
  transition: all 0.625s ease-in-out 0.15625s;
}
.loaded .core > .path {
  -moz-animation: core-loaded 2.5s ease-in-out;
  -webkit-animation: core-loaded 2.5s ease-in-out;
  animation: core-loaded 2.5s ease-in-out;
}

@-moz-keyframes core-loaded {
  0% {
    visibility: hidden;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1000, 1000);
    transform: scale(1000, 1000);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes core-loaded {
  0% {
    visibility: hidden;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1000, 1000);
    transform: scale(1000, 1000);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes core-loaded {
  0% {
    visibility: hidden;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25%, 85% {
    opacity: 1;
    visibility: visible;
    -moz-transform: scale(1000, 1000);
    -ms-transform: scale(1000, 1000);
    -webkit-transform: scale(1000, 1000);
    transform: scale(1000, 1000);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.spinner {
  opacity: 1;
  -moz-transition: opacity 0.1s 0.1s;
  -o-transition: opacity 0.1s 0.1s;
  -webkit-transition: opacity 0.1s;
  -webkit-transition-delay: 0.1s;
  transition: opacity 0.1s 0.1s;
  -moz-animation: rotate 1.25s linear infinite;
  -webkit-animation: rotate 1.25s linear infinite;
  animation: rotate 1.25s linear infinite;
}
.loaded .spinner {
  opacity: 0;
}
.spinner > .path {
  stroke: #aa1256;
  stroke-width: 6;
  stroke-dasharray: 157;
  stroke-dashoffset: 157;
  -moz-animation: spinner 1.25s both infinite ease-in-out;
  -webkit-animation: spinner 1.25s both infinite ease-in-out;
  animation: spinner 1.25s both infinite ease-in-out;
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@-moz-keyframes spinner {
  0% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
  }
  65% {
    stroke-dasharray: 157;
    stroke-dashoffset: 39.25;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    transform: rotate(450deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
  }
  65% {
    stroke-dasharray: 157;
    stroke-dashoffset: 39.25;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    transform: rotate(450deg);
  }
}
@keyframes spinner {
  0% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
  }
  65% {
    stroke-dasharray: 157;
    stroke-dashoffset: 39.25;
    transform: rotate(135deg);
  }
  100% {
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    transform: rotate(450deg);
  }
}
.container22 {
  height:100%;
  width: 100%;
}

.center, .loader, .container, .page, .btn:after, .ARS {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.loader, .core, .spinner, .path {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* -------------------
    # PAGE
   ------------------- */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80vh;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.img2,
.txt,
.btn {
  display: block;
  position: relative;
  margin: 0.75vh;
  background: #ccc;
}

.img2 {
  width: 100%;
  height: 15.5vh;
  transform-origin: 50% 50%;
}

.txt {
  display: block;
  margin: 0.75vh;
  height: 0.75vh;
  background: #ccc;
  transform-origin: 0 50%;
}

.btn {
  height: 4vh;
  color: #ccc;
  cursor: pointer;
  transform-origin: 50% 50%;
  z-index: 1;
}
.btn:after {
  content: "RELOAD";
  position: absolute;
  text-align: center;
  font: 700 1.5vh/4vh Verdana, sans-serif;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.loaded .btn {
  color: #fff;
  background: #aa1256;
  -moz-animation: btn-loaded 0.1s both 0.5s;
  -webkit-animation: btn-loaded 0.1s both 0.5s;
  animation: btn-loaded 0.1s both 0.5s;
}
.restart .btn {
  color: #aa1256;
  background: #aa1256;
  -moz-animation: btn-restart 0.1s both;
  -webkit-animation: btn-restart 0.1s both;
  animation: btn-restart 0.1s both;
}

.w5 {
  width: 5%;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w35 {
  width: 35%;
}

.w40 {
  width: 40%;
}

.w45 {
  width: 45%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w60 {
  width: 60%;
}

.w65 {
  width: 65%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w85 {
  width: 85%;
}

.w90 {
  width: 90%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

.ib {
  display: inline-block;
}

.fw {
  flex: 0 0 97%;
}

.hw {
  flex: 0 0 30%;
}

.mt0 {
  margin-top: 0;
}

.mb2 {
  margin-bottom: 2vh;
}

.h10 {
  height: 10vh;
}

.f0 {
  font-size: 0;
}

.new-page .img2 {
  -moz-animation: scale-in 0.3s both cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-animation: scale-in 0.3s both cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: scale-in 0.3s both cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.new-page .txt {
  -moz-animation: scaleX-in 0.1s both ease-out;
  -webkit-animation: scaleX-in 0.1s both ease-out;
  animation: scaleX-in 0.1s both ease-out;
}
.new-page .btn {
  -moz-animation: scale-in 0.3s both cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-animation: scale-in 0.3s both cubic-bezier(0.87, -0.41, 0.19, 1.44);
  animation: scale-in 0.3s both cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.new-page .dl1 {
  -moz-animation-delay: 0.85s;
  -webkit-animation-delay: 0.85s;
  animation-delay: 0.85s;
}
.new-page .dl2 {
  -moz-animation-delay: 0.95s;
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}
.new-page .dl3 {
  -moz-animation-delay: 1.05s;
  -webkit-animation-delay: 1.05s;
  animation-delay: 1.05s;
}
.new-page .dl4 {
  -moz-animation-delay: 1.15s;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
.new-page .dl5 {
  -moz-animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
.new-page .dl6 {
  -moz-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  animation-delay: 1.35s;
}
.new-page .dl7 {
  -moz-animation-delay: 1.45s;
  -webkit-animation-delay: 1.45s;
  animation-delay: 1.45s;
}
.new-page .dl8 {
  -moz-animation-delay: 1.55s;
  -webkit-animation-delay: 1.55s;
  animation-delay: 1.55s;
}
.new-page .dl9 {
  -moz-animation-delay: 1.65s;
  -webkit-animation-delay: 1.65s;
  animation-delay: 1.65s;
}
.new-page .dl10 {
  -moz-animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
  animation-delay: 1.75s;
}
.new-page .dl11 {
  -moz-animation-delay: 1.85s;
  -webkit-animation-delay: 1.85s;
  animation-delay: 1.85s;
}
.new-page .dl12 {
  -moz-animation-delay: 1.95s;
  -webkit-animation-delay: 1.95s;
  animation-delay: 1.95s;
}
.new-page .dl13 {
  -moz-animation-delay: 2.05s;
  -webkit-animation-delay: 2.05s;
  animation-delay: 2.05s;
}
.new-page .dl14 {
  -moz-animation-delay: 2.15s;
  -webkit-animation-delay: 2.15s;
  animation-delay: 2.15s;
}
.new-page .dl15 {
  -moz-animation-delay: 2.25s;
  -webkit-animation-delay: 2.25s;
  animation-delay: 2.25s;
}
.new-page .dl16 {
  -moz-animation-delay: 2.35s;
  -webkit-animation-delay: 2.35s;
  animation-delay: 2.35s;
}
.new-page .dl17 {
  -moz-animation-delay: 2.45s;
  -webkit-animation-delay: 2.45s;
  animation-delay: 2.45s;
}
.new-page .dl18 {
  -moz-animation-delay: 2.55s;
  -webkit-animation-delay: 2.55s;
  animation-delay: 2.55s;
}
.new-page .dl19 {
  -moz-animation-delay: 2.65s;
  -webkit-animation-delay: 2.65s;
  animation-delay: 2.65s;
}
.new-page .dl20 {
  -moz-animation-delay: 2.75s;
  -webkit-animation-delay: 2.75s;
  animation-delay: 2.75s;
}
.new-page .dl21 {
  -moz-animation-delay: 2.85s;
  -webkit-animation-delay: 2.85s;
  animation-delay: 2.85s;
}
.new-page .dl22 {
  -moz-animation-delay: 2.95s;
  -webkit-animation-delay: 2.95s;
  animation-delay: 2.95s;
}
.new-page .dl23 {
  -moz-animation-delay: 3.05s;
  -webkit-animation-delay: 3.05s;
  animation-delay: 3.05s;
}
.new-page .dl24 {
  -moz-animation-delay: 3.15s;
  -webkit-animation-delay: 3.15s;
  animation-delay: 3.15s;
}
.new-page .dl25 {
  -moz-animation-delay: 3.25s;
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s;
}
.new-page .dl26 {
  -moz-animation-delay: 3.35s;
  -webkit-animation-delay: 3.35s;
  animation-delay: 3.35s;
}
.new-page .dl27 {
  -moz-animation-delay: 3.45s;
  -webkit-animation-delay: 3.45s;
  animation-delay: 3.45s;
}
.new-page .dl28 {
  -moz-animation-delay: 3.55s;
  -webkit-animation-delay: 3.55s;
  animation-delay: 3.55s;
}
.new-page .dl29 {
  -moz-animation-delay: 3.65s;
  -webkit-animation-delay: 3.65s;
  animation-delay: 3.65s;
}
.new-page .dl30 {
  -moz-animation-delay: 3.75s;
  -webkit-animation-delay: 3.75s;
  animation-delay: 3.75s;
}

@-moz-keyframes scaleX-in {
  from {
    -moz-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes scaleX-in {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes scaleX-in {
  from {
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-moz-keyframes scale-in {
  from {
    -moz-transform: scale(0);
    transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes scale-in {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-in {
  from {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes btn-loaded {
  from {
    color: #ccc;
    background: #ccc;
  }
  to {
    color: #fff;
    background: #aa1256;
  }
}
@-webkit-keyframes btn-loaded {
  from {
    color: #ccc;
    background: #ccc;
  }
  to {
    color: #fff;
    background: #aa1256;
  }
}
@keyframes btn-loaded {
  from {
    color: #ccc;
    background: #ccc;
  }
  to {
    color: #fff;
    background: #aa1256;
  }
}
@-moz-keyframes btn-restart {
  from {
    color: #aa1256;
    background: #aa1256;
  }
  to {
    color: #ccc;
    background: #ccc;
  }
}
@-webkit-keyframes btn-restart {
  from {
    color: #aa1256;
    background: #aa1256;
  }
  to {
    color: #ccc;
    background: #ccc;
  }
}
@keyframes btn-restart {
  from {
    color: #aa1256;
    background: #aa1256;
  }
  to {
    color: #ccc;
    background: #ccc;
  }
}



.ARS {
  display: inline-block;
  position: fixed;
  top: auto;
  bottom: 1vh;
  color: #ccc;
  text-align: center;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 700;
  -moz-transform: translateY(10vh);
  -ms-transform: translateY(10vh);
  -webkit-transform: translateY(10vh);
  transform: translateY(10vh);
  -moz-transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -o-transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  -webkit-transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: all 0.5s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}
.ARS:hover {
  color: #aa1256;
  -moz-transition: color 0.5s !important;
  -o-transition: color 0.5s !important;
  -webkit-transition: color 0.5s !important;
  transition: color 0.5s !important;
}
.loaded.new-page .ARS {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -moz-transition-delay: 2.15s;
  -o-transition-delay: 2.15s;
  -webkit-transition-delay: 2.15s;
  transition-delay: 2.15s;
}

@-moz-keyframes ARS {
  from {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -moz-transform: translateY(10vh);
    transform: translateY(10vh);
  }
}
@-webkit-keyframes ARS {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(10vh);
    transform: translateY(10vh);
  }
}
@keyframes ARS {
  from {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -moz-transform: translateY(10vh);
    -ms-transform: translateY(10vh);
    -webkit-transform: translateY(10vh);
    transform: translateY(10vh);
  }
}

/*******************- HEADER -*******************/



.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle{
  margin-left: -350px;
  margin-top: 20px;
  cursor: pointer;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}


.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #efa24a;
  transform: translate3d(0, 0, 0);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  transform: translate3d(80px, 0, 0);
}

/*adjusting width of button*/
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 150px;
  border-radius: 999px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 10px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 999px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #7aeac2;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #39916a;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #aa1256;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #aa1256;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #aa1256;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #aa1256;
}
.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.3s ease-in-out;
  background: #7aeac2;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  color: #7aeac2;
}

.container {
    width: 100%;
    margin: 10px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.menu {

  background-color: white;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: absolute;
  animation: unfoldIn 1s cubic-bezier(0.065, 0.840, 0.440, 1.000);
}

.menu__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__list {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.menu__list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #000;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;
  cursor: pointer;
}

.menu__link:hover {
  color: #7aeac2;
}

.menu__link:active {
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 500;
}

.menu__link--active {
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 500;
}
.menu__link--active:active {
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 300;
}

.menu__logo {
  text-indent: -9999999px;
  display: inline-block;
  height: 100%;
  width: 150px;
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  margin-left: -50px;
}

.centerNav {
  display: flex;
  align-items: center;
  height: 100%;
}

.centerNavMenu{
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.menuItem{
  display: inline-block;
  height: 100%;
  margin-right: 40px;
}

.itemLink{
  color: #000;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 4px solid transparent;
}

.itemLink:hover {
  color: #7aeac2;
}

.itemLink:active{
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 500;
}


/**************-LogIn and SignUp*************/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}
.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 750px;
  margin: 0 auto 100px;
  background: #fff;
}
.form {
  position: relative;
  width: 640px;
  height: 100%;
  transition: transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}
.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
  transform: translate3d(-640px, 0, 0);
}
button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url('./queue.jpg');
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


.img1 {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img1:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url('./adv.jpg');
  background-size: cover;
  transition: transform 1.2s ease-in-out;
}
.img1:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.cont.s--signup .img1:before {
  transform: translate3d(640px, 0, 0);
}
.cont.s--signup .img:before {
  transform: translate3d(640px, 0, 0);
}
.img__text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: transform 1.2s ease-in-out;
}
.img__text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}
.img__text p {
  font-size: 14px;
  line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
  transform: translateX(520px);
}
.img__text.m--in {
  transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
  transform: translateX(0);
}
.img__btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}
.img__btn:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}
.img__btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
}
.img__btn span.m--in {
  transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
  transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
  transform: translateY(72px);
}
h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}
label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}
label span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}
input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}
.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}
.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #aa1256;
  text-transform: uppercase;
}
.fb-btn {
  border: 2px solid #d3dae9;
  color: #8fa1c7;
}
.fb-btn span {
  font-weight: bold;
  color: #455a81;
}
.sign-in {
  transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
  transition-timing-function: ease-in-out;
  transition-duration: 1.2s;
  transform: translate3d(640px, 0, 0);
}
.sign-up {
  transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
  transform: translate3d(0, 0, 0);
}
.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}


.backdrop1 {
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  }


.Login {
  max-width: 1000px;
  min-height: 500px;
  margin-top: 100px;
  margin: 50px auto;
  padding: 30;
  animation:unfoldIn 1s cubic-bezier(0.065, 0.840, 0.440, 1.000);
}


@keyframes unfoldIn { 
  0% {
    transform:scaleY(.005) scaleX(0);
  }
  50% {
    transform:scaleY(.005) scaleX(1);
  }

  100% {
    transform:scaleY(1) scaleX(1);
  }
}



#btn1{
  padding: 5px 10px;
  background-color: #D7263D;
  color: white;
  margin: 945px; 
  cursor: pointer;
}

.forLogin {
  text-align: center;
  margin-left: 50px;

}

/*******************-QLine Mascot-***********************/

.robot {
  margin-left: 1000px;
  height: 10px;
  width: 10px;
}
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  width:450px;
  margin-left: 700px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar > .search_input{
  padding: 0 10px;
  width: 250px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar > .search_icon{
  background: white;
  color: #972b21;
  }

  .search_icon{
    margin-top: -45px;
  height: 40px;
  width: 40px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }
  

  .order {
    list-style-type: none;
  }
