@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7ebf0;
    /* background: url("https://images.pexels.com/photos/1690379/pexels-photo-1690379.jpeg?cs=srgb&dl=beach-daylight-grass-1690379.jpg&fm=jpg"); */
    background-attachment: fixed;
    background-size: cover;
}

.switch-container {
	position: left;
  margin-top: 40px;
  margin-left: -230px;
	-webkit-transform: translate3d( -50%, -50%, 0 );
	transform: translate3d( -50%, -50%, 0 );
}

input[type="checkbox"].switch  {
  position: absolute;
	opacity: 0;
}

input[type="checkbox"].switch + div {

	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: #aa1256;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}



input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].switch:checked + div {
	width: 94px;
	background-position: 0 0;
	background-color: #3b89ec;
}

input[type="checkbox"].switch + div {
	width: 94px;
	height: 48px;
}


input[type="checkbox"].switch:checked + div {
	background-color: #7aeac2;
}


input[type="checkbox"].switch + div > div {
	float: left;
	width: 46px; height: 46px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(1,0,0,1);
	transition-timing-function: cubic-bezier(1,0,0,1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color;
	transition-property: transform, background-color;
	pointer-events: none;
	margin-top: 1px;
	margin-left: 1px;
}

input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
}

input[type="checkbox"].bigswitch.switch + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}


input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(46px, 0, 0);
	transform: translate3d(46px, 0, 0);
}





.container {
    width: 1800px;
    margin: 10px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.menu {
  background-color: white;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 1800px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
}

.menu__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu__list {
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.menu__list-item {
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__link {
  color: #000;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 3px;
  cursor: pointer;
}

.menu__link:hover {
  color: #7aeac2;
}

.menu__link:active {
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 500;
}

.menu__link--active {
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 500;
}
.menu__link--active:active {
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 300;
}

.menu__logo {
  text-indent: -9999999px;
  display: inline-block;
  height: 100%;
  width: 150px;
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  margin-left: -30px;
}

.centerNav {
  display: flex;
  align-items: center;
  height: 100%;
}

.centerNavMenu{
  list-style-type: none;
  padding: 0;
  height: 100%;
  margin: 0;
  margin-right: 40px;
}

.menuItem{
  display: inline-block;
  height: 100%;
  margin-right: 40px;
}

.itemLink{
  color: #000;
  display: inline-block;
  height: 100%;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 4px solid #fff;
}

.itemLink:hover {
  color: #7aeac2;
}

.itemLink:active{
  color: #7aeac2;
  border-top: 4px solid #7aeac2;
  font-weight: 500;
}

/**  style for search part*/
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }
  p{
    padding-top: 30%;
    white-space: pre-line;
  }
input .bottom{
 color:#a077a7;
}